rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regla para la colección de items del menú de cada usuario
    // Permite leer y escribir si el usuario está autenticado y es el propietario de los datos (userId).
    match /artifacts/{appId}/users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}